@{
    ViewData["Title"] = "Home Page";
}

<div class="row h-auto text-center" style="min-height:900px">
    <div class="col col-lg-2 bg-light">
        <nav class="navbar flex-column">
            <a class="navbar-brand" href="">List</a>
            <a class="navbar-brand" href="">New</a>
            <a class="navbar-brand" href="">Search</a>
        </nav>
    </div>
    <div class="col m-3 bg-light rounded-1">
        <div class="container">
            <h2 class="my-2">New Blog</h2>
            <div>abc</div>
        </div>
    </div>
</div>
