<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog List</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_Blog_Toanhq.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow">
            <div class="container-fluid row">
                <div class="col col-lg-2 text-center">
                    <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index">
                        <img style="height: 48px" src="https://devfast.us/images/devfast-logo.png" />
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex col">
                    <h1 class="offset-3" style="color: white">Blogmanagement</h1>
                    @*<ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    </ul>*@
                </div>
            </div>
        </nav>
    </header>

    <div class="row h-auto w-100 " style="min-height:667px">
        <div class="col col-lg-2 bg-light">
            <nav class="navbar flex-column text-center">
                <a class="navbar-brand" asp-controller="Blogs" asp-action="Index">List</a>
                <a class="navbar-brand" asp-controller="Blogs" asp-action="Create">New</a>
                <a class="navbar-brand" asp-controller="Blogs" asp-action="Search">Search</a>
            </nav>
        </div>
        @RenderBody()
    </div>


    <footer class="border-top text-muted bg-black" style="min-height:66px">
        <div class="container text-center align-items-center ">
            Copyright &copy; 2022 <a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="Privacy">DevFast</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
